:root {
  --rojo-andino: #8c1f1f;
  --beige-claro: #e8dbc0;
  --rojo-oscuro: #5c1010;
  --negro-suave: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CUERPO EN GENERAL*/
body {
  background-image: url(../img/fondo_peru.png);
  font-family: "Poppins", sans-serif;
  background-color: var(--negro-suave);
  color: var(--beige-claro);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h2{
  font-weight: bold;
}

/*CABECERA-BARRA DE NAVEGACION NAV- LOGO*/
.logo {
  width: 150px;
  margin: 0 1rem 1rem 1rem;
  float: left;
}

header {
  background-color: var(--rojo-andino);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#menu-nav a {
  margin-top: 0;
  margin: 0 1rem;
  color: var(--beige-claro);
  text-decoration: none;
  font-weight: bold;
}

#menu-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.perfil-usuario {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/*centro*/
#galeria-comida {
  text-align: center;
}

#galeria-comida h2 {
  margin: 10px;
  text-align: center;
}

#galeria-comida figure {
  text-align: center;
}

.galeria-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.galeria-grid img {
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.galeria-grid img:hover {
  transform: scale(1.05);
}

/*Reservas y eventos*/
#reservas-eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

#reservas-eventos h2 {
  text-align: center;
  margin-bottom: 20px;
}

#reservas-eventos img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}


/*Carrusel*/
#carrusel-fotos {
  text-align: center;
  margin: 50px;
  padding: 20px;
}

#carrusel-fotos #carouselExampleIndicators {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#texto-carrusel p{
  margin: 20px 140px;
  text-align: justify;
}

/*Influencers y visitas*/
#visitas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
}
#visitas h2 {
  text-align: center;
  margin-bottom: 20px;
}
#visitas p {
  text-align: justify;
  margin: 20px 140px;
}


/*PIE DE PAGINA*/
footer {
  background-color: var(--rojo-oscuro);
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer p {
  margin-top: 10px;
}

#redes_sociales {
  display: flex;
  gap: 1rem;
}

#redes_sociales img {
  width: 30px;
  transition: transform 0.2s;
}

#redes_sociales img:hover {
  transform: scale(1.1);
}
