:root {
  --rojo-andino: #8c1f1f;
  --beige-claro: #e8dbc0;
  --rojo-oscuro: #5c1010;
  --negro-suave: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CUERPO EN GENERAL*/
body {
  background-image: url(../img/fondo_peru.png);
  font-family: "Poppins", sans-serif;
  background-color: var(--negro-suave);
  color: var(--beige-claro);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*CABECERA-BARRA DE NAVEGACION NAV- LOGO*/
.logo {
  width: 150px;
  margin: 0 1rem 1rem 1rem;
  float: left;
}

header {
  background-color: var(--rojo-andino);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#menu-nav a {
  margin-top: 0;
  margin: 0 1rem;
  color: var(--beige-claro);
  text-decoration: none;
  font-weight: bold;
}

#menu-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.perfil-usuario {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/*Menu*/
.menu-wrapper {
  background-color: var(--rojo-andino);
  padding: 40px;
  margin: 40px;
  border: 5px double #bfa374;
  width: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}
.menu-item {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.menu-wrapper h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  border-bottom: 2px dashed #bfa374;
  padding-bottom: 10px;
}

.plato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #ccc;
  padding: 15px 0;
}

.plato-info {
  flex: 1;
}

.plato-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.plato-info p {
  margin: 3px 0;
  font-style: italic;
}

.boton-agregar {
  padding: 8px 14px;
  background-color: #bfa374;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.boton-agregar:hover {
  background-color: #a68a64;
}

/*PIE DE PAGINA*/
footer {
  background-color: var(--rojo-oscuro);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin-top: 10px;
}