:root {
  --rojo-andino: #8c1f1f;
  --beige-claro: #e8dbc0;
  --rojo-oscuro: #5c1010;
  --negro-suave: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CUERPO EN GENERAL*/
body {
  background-image: url(../img/fondo_opcion.jpg);
  font-family: "Poppins", sans-serif;
  background-color: var(--negro-suave);
  color: var(--beige-claro);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Formulario login :) */
form {
  margin: 0 80px;
}

#formulario-completo button {
  justify-content: center;
}

#formulario-completo {
  background-color: var(--rojo-andino);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 80px;
  margin: auto;
  border-radius: 20px;
  align-items: center;
}

#formulario-completo img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-centrados {
  text-align: center;
  margin-top: 20px;
}

.botones-centrados .btn {
  margin: 5px;
}

.boton-registro {
  display: inline-block;
  margin-top: 10px;
}